## Coding Exercise

In [14]:
import pandas as pd

author = ['E.L. James', 'Suzanne Collins', 'J.K. Rowling', 'Dan Brown']
reviews = [410, 211, 314, 178]

auth_series = pd.Series(author)
rev_series = pd.Series(reviews)

print(auth_series)
print(rev_series)

0         E.L. James
1    Suzanne Collins
2       J.K. Rowling
3          Dan Brown
dtype: object
0    410
1    211
2    314
3    178
dtype: int64

In [15]:
combi_series = {
    'Author': auth_series,
    'Reviews': rev_series
}

df = pd.DataFrame(combi_series)
df

            Author  Reviews
0       E.L. James      410
1  Suzanne Collins      211
2     J.K. Rowling      314
3        Dan Brown      178

In [16]:
best = pd.read_csv('bestsellers.csv')
best.head(10)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Type
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350.0,8.0,2016.0,Non Fiction,Non Fiction
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11/22/63: A Novel,Stephen King,4.6,2052.0,22.0,2011.0,Fiction,Fiction
3,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979.0,15.0,2018.0,Non Fiction,Non Fiction
4,1984 (Signet Classics),George Orwell,4.7,21424.0,6.0,2017.0,Fiction,Fiction
5,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665.0,12.0,2019.0,Non Fiction,Non Fiction
6,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin,4.4,12643.0,11.0,2011.0,Fiction,Fiction
7,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin,4.7,19735.0,30.0,2014.0,Fiction,Fiction
8,A Gentleman in Moscow: A Novel,Amor Towles,4.7,19699.0,15.0,2017.0,Fiction,Fiction
9,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey,4.7,5983.0,3.0,2018.0,Non Fiction,Non Fiction

In [17]:
best.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         347 non-null    object
 1   Author       347 non-null    object
 2   User Rating  347 non-null    float64
 3   Reviews      347 non-null    float64
 4   Price        347 non-null    float64
 5   Year         347 non-null    float64
 6   Genre        347 non-null    object
 7   Type         347 non-null    object
dtypes: float64(4), object(4)
memory usage: 23.6+ KB

In [18]:
best.shape

(375, 8)